src/main/resources/xsd/GenericNotificationResponse.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.transfesa.com/api_notification/schema/notificationresponse"
            targetNamespace="http://www.transfesa.com/api_notification/schema/notificationresponse"
            elementFormDefault="qualified">
  <xsd:element name="NotificationResponse" type="NotificationResponse_Type"/>
  <xsd:complexType name="NotificationResponse_Type">
    <xsd:sequence>
      <xsd:element name="CdError" type="xsd:string" minOccurs="1"/>
      <xsd:element name="DsError" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
