src/main/resources/wsdl/AnubisAbastDocument.wsdl

<wsdl:definitions name="AnubisAbastDocument" targetNamespace="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL" xmlns:tns="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL" xmlns:inp1="http://www.transfesa.com/api_anubis_document/AnubisAbastDocument" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.transfesa.com/api_anubis_document/AnubisAbastDocument" schemaLocation="../XSD/AnubisAbastDocument.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpdoadDocRequest">
        <wsdl:part name="part1" element="inp1:RequestUpload"/>
    </wsdl:message>
    <wsdl:message name="UpdoadDocResponse">
        <wsdl:part name="part1" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:message name="DeleteDocRequest">
        <wsdl:part name="partIn" element="inp1:RequestDelete"/>
    </wsdl:message>
    <wsdl:message name="DeleteDocResponse">
        <wsdl:part name="partOut" element="inp1:Response"/>
    </wsdl:message>
     <wsdl:message name="VisualizeDocRequest">
        <wsdl:part name="part1" element="inp1:RequestDownload"/>
    </wsdl:message>
    <wsdl:message name="VisualizeDocResponse">
        <wsdl:part name="part1" element="inp1:Response"/>
    </wsdl:message>
    <wsdl:portType name="port_ptt">
        <wsdl:operation name="VisualizeDoc">
            <wsdl:input message="tns:VisualizeDocRequest"/>
            <wsdl:output message="tns:VisualizeDocResponse"/>
        </wsdl:operation>
        <wsdl:operation name="UpdoadDoc">
            <wsdl:input message="tns:UpdoadDocRequest"/>
            <wsdl:output message="tns:UpdoadDocResponse"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteDoc">
            <wsdl:input message="tns:DeleteDocRequest"/>
            <wsdl:output message="tns:DeleteDocResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:port_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="VisualizeDoc">
            <soap:operation style="document" soapAction="VisualizeDoc"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdoadDoc">
            <soap:operation style="document" soapAction="UpdoadDoc"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteDoc">
            <soap:operation style="document" soapAction="DeleteDoc"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://transfesa.com/API_ANUBIS_DOCUMENT/AnubisAbastDocumentWSDL"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>